body {
    padding-top: 2em;
    background: #222222;
    color: white;
}

div.row.spacing {
    margin-bottom: 2em;
}

div.repo-controls button {
    margin: 0.1rem;
}

.nav-link {
    color: inherit;
}
.nav-link:hover {
    color: #eee;
}
